div {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  padding: 30px;
  font-size: 30px;
  color: gold;
}

div img {
  width: 50%;
  height: 50%;
  margin: auto;
}